//Bebas Neue
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
}

//Darker Grotesque
@font-face {
  font-family: "Darker Grotesque";
  src: url("../fonts/Darker_Grotesque/DarkerGrotesque-Light.ttf")
    format("truetype");
  font-display: block;
  font-weight: 300;
}

@font-face {
  font-family: "Darker Grotesque";
  src: url("../fonts/Darker_Grotesque/DarkerGrotesque-Regular.ttf")
    format("truetype");
  font-display: block;
  font-weight: 400;
}

@font-face {
  font-family: "Darker Grotesque";
  src: url("../fonts/Darker_Grotesque/DarkerGrotesque-Medium.ttf")
    format("truetype");
  font-display: block;
  font-weight: 500;
}

@font-face {
  font-family: "Darker Grotesque";
  src: url("../fonts/Darker_Grotesque/DarkerGrotesque-SemiBold.ttf")
    format("truetype");
  font-display: block;
  font-weight: 600;
}

@font-face {
  font-family: "Darker Grotesque";
  src: url("../fonts/Darker_Grotesque/DarkerGrotesque-Bold.ttf")
    format("truetype");
  font-display: block;
  font-weight: 700;
}

@font-face {
  font-family: "Darker Grotesque";
  src: url("../fonts/Darker_Grotesque/DarkerGrotesque-ExtraBold.ttf")
    format("truetype");
  font-display: block;
  font-weight: 800;
}

@font-face {
  font-family: "Darker Grotesque";
  src: url("../fonts/Darker_Grotesque/DarkerGrotesque-Black.ttf")
    format("truetype");
  font-display: block;
  font-weight: 900;
}

//Almarai
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-Light.ttf") format("truetype");
  font-display: block;
  font-weight: 300;
}

@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-Regular.ttf") format("truetype");
  font-display: block;
  font-weight: 400;
}

@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-Bold.ttf") format("truetype");
  font-display: block;
  font-weight: 700;
}

@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-ExtraBold.ttf") format("truetype");
  font-display: block;
  font-weight: 800;
}
